name: Build API
on: [workflow_dispatch, workflow_call]

jobs:
  build-api:
    name: Build api
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.4.1
        with:
          node-version: '16'
      - name: Cache dependencies
        id: cache
        uses: actions/cache@v2
        with:
          path: |
            ./apps/${{matrix.directory}}/node_modules
            ./node_modules
          key: modules-${{ hashFiles('package-lock.json') }}
      - run: npm run build
        working-directory: ./apps/api
        name: Build api
      - name: Upload Artifcat
        id: upload
        uses: actions/upload-artifact@v2
        with:
          name: api
          path: ./apps/api/dist
